{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "react-app",
        "react-app/jest",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": ["@typescript-eslint", "react"],
    "overrides": [
        {
            "files": ["**/*.ts?(x)"]
        }
    ],
    "rules": {
        "no-restricted-imports": [
            "error",
            {
                "patterns": ["@/features/*/*"]
            }
        ],
        "@typescript-eslint/no-restricted-imports": [
            "warn",
            {
                "name": "react-redux",
                "importNames": ["useSelector", "useDispatch"],
                "message": "Use typed hooks `useAppDispatch` and `useAppSelector` instead."
            }
        ]
    },
    "ignorePatterns": ["src\\hooks.ts"]
}
